* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
table{
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    td{
        border: 1px solid white;
        padding: 1rem;
    }
    th{
        padding: 1rem;
    }
}

.tallen tr:nth-child(even){
    background-color: #353535;
}
.Moedertaal{
    background-color: darkgreen;

}
.Gevorderd{
    background-color: lightgreen;
}
.Basis{
    background-color: yellow;
    color: black;
}
body{
    color: white;
    background-image: linear-gradient(to bottom, #0c0267, #000000,#000000 );
}
.PFoto{
    border-radius: 15px;
    margin: 3rem;
    width: 10rem;
    height: 12rem;
    border: 5px solid black;
}
.PFoto:hover{
    box-shadow: 5px 5px 5px #0000b5;
}
section{
    padding: 3rem;
}
.Werk{
    background-image:linear-gradient(to right, #000000, #0101b8, #000000 ) ;

    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;

}