* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.talen{
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    td{
        border: 1px solid white;
        padding: 1rem;
    }
    th{
        padding: 1rem;
    }
}

.talen tr:nth-child(even){
    background-color: #353535;
}
.Moedertaal{
    background-color: darkgreen;

}
.Gevorderd{
    background-color: lightgreen;
}
.Basis{
    background-color: yellow;
    color: black;
}
body{
    color: white;
    background-image: linear-gradient(to bottom, #0c0267, #000000,#000000 );
}
.PFoto{
    border-radius: 15px;
    margin: 3rem;
    width: 10rem;
    height: auto;
    border: 5px solid black;
}
.PFoto:hover{
    box-shadow: 5px 5px 5px #0000b5;
}
section{
    padding: 3rem;
}
.Werk{
    background-image:linear-gradient(to right, #000000, #0101b8, #000000 ) ;

    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;

}
@media (min-width: 992px) {
.werk1{
    border-radius: 15px;
    background-color: rgba(143, 143, 143, 0.10);
    padding: 2rem;
    margin: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.50);
    tr td:nth-child(1){
        border-right: 1px solid #d8d7d7;
    }
    td{
        padding: 2rem;
        margin: 1rem;
    }
    li{
        padding: 1rem;
    }
}}
.werk1:hover{
    box-shadow: 5px 5px 5px #0000b5;
    background-color: rgba(172, 172, 172, 0.40);

}
.tables{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
footer{
    background-color: #121251;
    padding: 2rem;
    text-align: center;
    flex-wrap: nowrap;
    flex-direction: column;
    display: flex;
}
.up:hover{
    box-shadow: 5px 5px 5px #0000b5;
    cursor: pointer;
}
.up{

    border: 2px #000000;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: #000000;
    text-align: center;
    color: #0101b8;
}
.Introductie{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.Introductie div{
    padding: 1rem;
}
@media (min-width: 992px) {
.Info{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    background-image: url("/images/Bos.png");
    padding: 2rem;
    border: 5px solid black;
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
}
.Info div:hover{
    box-shadow: 5px 5px 5px #474747;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.8);
}
.Info div{
    background-color: rgba(172, 172, 172, 0.4);
    color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    padding: 1rem;


}}
@media (max-width: 576px) {
    .Info{
    background-image: url("/images/Bos.png");
    padding: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
        border: 5px solid black;
        justify-content: space-around;

    }}

@media (min-width: 576px) and (max-width: 991px) {
    .Info{
        background-image: url("/images/Bos.png");
        padding: 2rem;
        background-repeat: no-repeat;
        background-size: cover;
        border: 5px solid black;
        justify-content: space-around;
        text-align: center;

    }
    .Info div{
        background-color: rgba(112, 112, 112, 0.8);
        color: rgba(255, 255, 255, 0.8);
        border-radius: 15px;
        padding: 1rem;}}

